

.imageBalonOrange {
    fill: #fd7e14;
     margin-left: 50px; 
}

.imageBalonBlue {
    fill: #007bff;
     margin-left: 50px; 
}

.imageBalonYellow{
    fill: #ffc107;
     margin-left: 50px; 
}

