.search-input {
  margin: 15px 10px 15px 15px;
  padding: 6px 8px;
  border: 1px solid #f1f2f2;
  border-radius: 30px;
  width: 150px;
  background-color: transparent;
}

.buttonSubmit {
  background-color: #f1f2f2;
  color: black;
  padding: 6px 8px;
  margin: 15px 15px 0 15px;
  border: 1.5px solid #f1f2f2;
  border-radius: 50px;
}

