.row .today-weather {
  padding-top: 50px;
}

h1 {
  font-size: 54px;
}

h2 {
  margin: 0;
}

h3.today-heading {
 font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  margin-top: 15px;
}

.units {
  margin: 0 8px;
  position: relative;
  top: -65px;
  left: 82px;
}

.todays-text p {
  text-align: center;
}

.weather-icon {
  margin: 0;
}

.todays-text span {
  font-size: 25px;
}

div.temperature {
  padding-right: 0;
}

.weather-date{
  font-size: 8px;
}

a {
  padding: 3px;
}

div.in-wrap {
  display: inline;
}


